<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	{{format_metadatas()|safe}}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="/static/css/custom.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid" id="container2">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="container" style="font-family: 'Lato', sans-serif;">
				<div class="card cardupload" style="max-width: 425px;width: 98vw">
					<div class="card-body cardupload text-center" style="margin-top: 1rem">
						<img src="{{user_picture}}" class="rounded-circle" style="width: 6rem; height: 6rem;">
						<span class="bi-patch-check text-success fs-3 m-4"></span>
						<img src="{{target_picture + '?size=1024'}}" class="rounded-circle" style="width: 6rem; height: 6rem;">
						<div style="margin-top: 2rem">
							<p class="fs-5 m-1"><strong>{{user_name}}</strong></p>
							<p class="fs-6 text-secondary m-1">
								{% if revoke %}
								will completely or partially lose the ability
								{% else %}
								wants
								{% endif %}
								to access your {{target_full_name}} Waifu.im account.
							</p>
						</div>
					</div>
					<hr class="text-center m-3">
					<ul class="list-group list-group-flush">
						<li class="list-group-item cardupload">
							<h6 class="text-uppercase" style="font-family: 'Kanit', sans-serif;">
								This will {% if revoke %}remove{% else %}allow{% endif %} them {% if revoke %}the ability {% endif %}to :
							</h6>
						</li>
						{% for perm in permissions %}
							<li class="list-group-item cardupload fs-6">
							{% if revoke %}
								<span class="bi-x-circle-fill text-danger fs-5"></span>
							{% else %}
								<span class="bi-check-circle-fill text-success fs-5"></span>
							{% endif %}
						{{perm.get['description'].replace('_',' ').capitalize() if perm['description'] else perm['name']}}</li>
						{% endfor %}
					</ul>
					<hr class="text-center m-3">
					<ul class="list-group list-group-flush">
						<li class="list-group-item cardupload text-muted">
							<p style="font-size: 0.8rem"><span class="bi-link-45deg text-muted fs-6"></span>Once this operation is finished you will be redirected to : {{redirect_uri}}</p>
						</li>
					</ul>
					<div class="card-footer" style="background-color: #464646">
						<div class="row">
							<div class="col-6">
								<a type="button" class="btn btn-danger" href="{{redirect_uri}}">Cancel</a>
							</div>
							<div class="col-6 text-end">
								<a type="button" class="btn btn-success" href="{{authorization_url}}">Authorize</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</body>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
