<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{username}}</title>
    {{format_metadatas()|safe}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/css/prism-atom-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    {{sidebar|safe}}
    <div class="fixed-top">
        <nav class="navbar navbar-dark" style="background-color:   #272727;height: 64px;font-family: Roboto,sans-serif">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-sidebar" aria-controls="main-sidebarlabel">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="">
                    {{sitename}}
                </a>
                <img src="/favicon.ico" width="35" height="35" class="d-inline-block align-top" alt="">
            </div>
        </nav>
    </div>
    <div class="container" style="padding-top: 64px;">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <div class="container-fluid">
                    <h1 class="display-5" id="presentation">Dashboard</h1>
                    <p class="fs-5">Hi <strong>{{username}}</strong>, welcome to your dashboard !</p>
                    <div class="card cardupload border-0 mb-3" style="width: 100%;max-width: 750px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 mr-2 justify-content-start">
                                    <div class="text-uppercase text-primary text-xs mb-1"><span style="color: #ED4C67;font-size: 12px;">Token</span></div>
                                </div>
                                <div class="col auto mr-2 justify-content-end text-end">
                                    <button id="copytoken" class="btn btn-sm btn-success btn-clipboard" data-clipboard-text="{{token}}" onclick="this.innerHTML='Copied!';" style="margin-right:4px;">Copy</button>
                                    <button class="btn btn-sm btn-outline-danger" onclick="RegenFunction()">Regen</button>
                                </div>
                            </div>
                            <div class="fs-5">
                                <span id="token" onclick="TokenToggle()">Click To Display Your Token.</span>
                            </div>
                        </div>
                    </div>
                    <div class="card cardupload border-0 mb-3" style="width: 100%;max-width: 750px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 mr-2 justify-content-start">
                                    <div class="text-uppercase text-primary text-xs mb-1"><span style="color: #ED4C67;font-size: 12px;">Gallery</span></div>
                                </div>
                                <div class="col auto mr-2 justify-content-end text-end">
                                    <a type="button" class="btn btn-sm btn-success" href="https://waifu.im/fav/?user_id={{user_id}}" style="margin-right:4px;">View it</a>
                                    <button class="btn btn-sm btn-outline-danger" onclick="PurgeGalleryFunction()">Purge Gallery</button>
                                </div>
                            </div>
                            <div class="fs-5">
                                <span id="count_images">{{count_images}} images.</span>
                            </div>
                        </div>
                    </div>
                    <div class="card cardupload border-0 mb-3" style="width: 100%;max-width: 750px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 mr-2 justify-content-start">
                                    <div class="text-uppercase text-primary text-xs mb-1"><span style="color: #ED4C67;font-size: 12px;">TRUSTED USERS</span></div>
                                </div>
                            </div>
                            {% if trusted_users %}
                                <div class="row mr-2">
                                    {% for u_id, u_info in trusted_users.items() %}
                                        <div class="col-2">
                                            <a type="button" class="btn btn-sm btn-outline-light" href="https://waifu.im/authorization/revoke/?{{encode_query_string(dict(user_id=u_id,permissions=u_info['permissions']))}}" style="margin:4px;">
                                                {{u_info['name']}}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <div class="fs-5">
                                No users have any access to your account for now
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if is_admin %}
                    <div class="card cardupload border-0 mb-3" style="width: 100%;max-width: 750px;">
                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col-4 mr-2 justify-content-start">
                                    <div class="text-uppercase text-primary text-xs mb-1"><span style="color: #ED4C67;font-size: 12px;">Admin</span></div>
                                </div>
                                <div class="col auto mr-2 justify-content-end text-end">
                                    <a type="button" href="/report/" class="btn btn-sm btn-outline-warning" style="margin-right:4px;">Report</a>
                                    <a type="button" href="/review/" class="btn btn-sm btn-outline-warning">Review</a>
                                </div>
                            </div>
                            <div class="fs-5">
                                <span class="text-white">{{last_24h_rq}} request today.</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
const user_token = {{ token | tojson }};
const user_id = {{user_id | tojson}}
const current_path = {{ current_path | tojson }};
var is_clicked = false;
new ClipboardJS('#copytoken');

function TokenToggle() {

    if (!is_clicked) {
        document.getElementById("token").innerHTML = user_token
    } else {
        document.getElementById("token").innerHTML = 'Click To Display Your Token.'
    }
    is_clicked = !is_clicked;
}

function RegenFunction() {
    const r = confirm("You are going to reset your token.");
    if (r === true) {
        window.location.replace("/reset-token/?user_id="+user_id);
    }
}
function PurgeGalleryFunction() {
    const r = confirm("You are going to purge your gallery, this action is irreversible.");
    if (r === true) {
        window.location.replace("/purge-gallery/?user_id="+user_id);
    }
}
</script>
