<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>API Documentation</title>
    {{format_metadatas()|safe}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/css/prism-atom-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    {{sidebar|safe}}
    <div class="fixed-top">
        <nav class="navbar navbar-dark" style="background-color:   #272727;height: 64px;font-family: Roboto,sans-serif">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-sidebar" aria-controls="main-sidebarlabel">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="">
                    {{sitename}}
                </a>
                <img src="/favicon.ico" width="35" height="35" class="d-inline-block align-top" alt="">
            </div>
        </nav>
    </div>
    <div class="container" style="padding-top: 64px;">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <div class="container-fluid borderthin ">
                    <h1 class="display-5" id="presentation">API Documentation</h1>
                    <p class="fs-5">{{sitename}} is {{site_description.lower()}}</p>
                    <div class="card bgblack mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">API Base URL</h5>
                            <p class="card-text fs-6">https://api.waifu.im/</p>
                        </div>
                    </div>
                    <div class="card bgblack mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Interactive Documentation</h5>
                            <p class="card-text fs-6">You can also use the interactive documentation <a href="https://api.waifu.im/docs" class="link-light" target="_blank">here</a>.</p>
                        </div>
                    </div>
                    <div class="card bgblack mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Rate Limit</h5>
                            <p class="card-text fs-6"><i> Note: this rate limit only apply for <kbd>api.waifu.im</kbd> domain.</i></p>
                            <p class="card-text fs-6">The rate limit is <strong>1</strong> request every <strong>200</strong> milliseconds. If you go up to this value the request will be put in a queue (the size is 10) if the queue is full, the server will answer with a 429 status code.</p>
                        </div>
                    </div>
                    <div class="card bgblack mb-3" id="github" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Github & Python Wrapper</h5>
                            <p class="card-text fs-6">I really recommend the Python users to use the wrapper, it fully supports the API and is updated when needed.</p>
                            <p class="card-text fs-6"><a class="link-success" href="https://github.com/Waifu-im/waifu.im" target="_blank">Github</a><br><a class="link-success" href="https://github.com/Waifu-im/waifuim.py" target="_blank">Python wrapper</a></p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid borderthin">
                    <h3 id="tags">Tags</h3>
                    <p class="fs-5">The image are classified with a tag system, it means that each image can have multiple tags!</p>
                    <p class="fs-5">There is versatile tags that can describe <strong>both</strong> safe and lewd images and specially nsfw tags that only describe lewd images.</p>
                    <p class="fs-6">Little tips, the default tag is <strong><i>waifu</i></strong>, you can find a list of available tags <a class="link-light" href="https://api.waifu.im/tags/?full=on">here</a> or bellow.</p>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        {% for typ,items in tags.items() if items%}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {{'active' if loop.index <2 else '' }} blckbg" id="pills-{{typ}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{typ}}" type="button" role="tab" aria-selected="{{'true' if loop.index <2 else 'false' }}" aria-controls="pills-{{typ}}">{{typ.upper()}}</button>
                        </li>
                        {% endfor %}
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        {% for typ,items in tags.items() if items%}
                        <div class="tab-pane fade {{'show active' if loop.index <2 else ''}} " id="pills-{{typ}}" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="list-group">
                                {% for tag in items %}
                                <a href="https://api.waifu.im/random/?selected_tags={{tag}}" target="_blank" class="list-group-item list-group-item-action blckbg lstnohover">{{tag}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container-fluid borderthin">
                    <h3 id="errors">Errors</h3>
                    <p class="fs-5">Here is the json structure for the api errors.</p>
                    <pre><code class="language-json">

All errors apart of 422 status code
Its recommended to handle them.

{
  "detail": "Description / Details"
}

The bellow json structure is the one for a 422 status code.
It means the provided arguments couldn't be validated (type issue etc).
This is just about the parameters validation so you will never face this error if you provided the arguments correctly.

{
  "detail": [
    {
      "loc": [
        "location of the argument (query, path etc...)",
        "name of argument"
      ],
      "msg": "description of the issue",
      "type": "type of the argument"
    }
  ]
}
      </code></pre>
                </div>
                <div class="container-fluid borderthin">
                    <h3 id="random-image">Get Random Images</h3>
                    <p class="fs-5">You can either get completely random images or by tag.</p>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">PATH</span></th>
                                <th scope="col"><span class="text-success">Request type</span></th>
                            </tr>
                            <tr>
                                <th scope="row">/random/</th>
                                <th scope="row">GET</th>
                            </tr>
                        </thead>
                    </table>
                    <p class="fs-6">To filter by tag or by nsfw images please take a look at the <a href="#random-image-query-strings" class="link-light">query strings</a>.</p>
                    <h4 id="random-image-response">Response</h4>
                    <p class="fs-5">Here is an example response that you could get.</p>
                    <pre><code class="language-json">
{
  "images": [
    {
      "file": "5f7e656343cb7be1",
      "extension": ".jpg",
      "image_id": 3284,
      "favourites": 12,
      "dominant_color": "#cac2c6",
      "source": "https://www.pixiv.net/en/artworks/88563141",
      "uploaded_at": "2021-11-02T11:16:19.048684+00:00",
      "is_nsfw": false,
      "width": 2403,
      "height": 4051,
      "url": "https://cdn.waifu.im/5f7e656343cb7be1.jpg",
      "preview_url": "https://waifu.im/preview/5f7e656343cb7be1/",
      "tags": [
        {
          "tag_id": 12,
          "name": "waifu",
          "description": "A female anime/manga character.",
          "is_nsfw": false
        }
      ]
    }
  ]
}
				</code></pre>
                    <h4 id="random-image-query-strings">Query strings</h4>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">Name</span></th>
                                <th scope="col"><span class="text-success">Required</span></th>
                                <th scope="col"><span class="text-success">Type</span></th>
                                <th scope="col"><span class="text-success">Behaviour</span></th>
                            </tr>
                            <tr>
                                <th scope="row">selected_tags</th>
                                <th scope="row">No</th>
                                <th scope="row">Array</th>
                                <th scope="row">Force the API to return images with, at least all the provided tags</th>
                            </tr>
                            <tr>
                                <th scope="row">excluded_tags</th>
                                <th scope="row">No</th>
                                <th scope="row">Array</th>
                                <th scope="row">Force the API to return images without any of the provided tags</th>
                            </tr>
                            <tr>
                                <th scope="row">is_nsfw</th>
                                <th scope="row">No</th>
                                <th scope="row">Strict Boolean or String</th>
                                <th scope="row">Force or exclude lewd files, only works if the selected_tags aren't specially nsfw (see difference between versatile and nsfw tags above). You can provide 'null' to make it be random. Default to False.</th>
                            </tr>
                            <tr>
                                <th scope="row">gif</th>
                                <th scope="row">No</th>
                                <th scope="row">Boolean</th>
                                <th scope="row">Force or prevent the API to return .gif files.</th>
                            </tr>
                            <tr>
                                <th scope="row">order_by</th>
                                <th scope="row">No</th>
                                <th scope="row">String</th>
                                <th scope="row">You can choose to order the image by one of the following : FAVOURITES, UPLOADED_AT</th>
                            </tr>
                            <tr>
                                <th scope="row">orientation</th>
                                <th scope="row">No</th>
                                <th scope="row">String</th>
                                <th scope="row">You can choose the orientation of your image using one of the following : LANDSCAPE, PORTRAIT</th>
                            </tr>
                            <tr>
                                <th scope="row">many</th>
                                <th scope="row">No</th>
                                <th scope="row">Boolean</th>
                                <th scope="row">Return an array of 30 files if True.</th>
                            </tr>
                            <tr>
                                <th scope="row">full</th>
                                <th scope="row">No</th>
                                <th scope="row">Boolean</th>
                                <th scope="row">Returns the full result without any limit (admins only)</th>
                            </tr>
                            <tr>
                                <th scope="row">excluded_files</th>
                                <th scope="row">No</th>
                                <th scope="row">Array</th>
                                <th scope="row">Exclude the file(s). You can or not provide the file extension.</th>
                            </tr>
                        </thead>
                    </table>
                    <p class="fs-6">If you want to provide an array just provide the query string again, with a different value</p>
                    <h4 id="random-image-example">Example</h4>
                    <p class="fs-5">Here is an python example with some <a class="link-light" href="https://en.wikipedia.org/wiki/Query_string">query strings.</a></p>
                    <pre><code class="language-python">
import aiohttp

# In this example aiohttp is used.
# This needs to be used in an async function.
# This is simply for demonstrative purposes, you can use
# any library for this.

# The only supported headers are User-Agent and Authorization
# Please change the user-agent as it's useful for identification purposes.
# This endpoint does not require a token but some others do.


HEADERS = {'User-Agent': f'aiohttp/{aiohttp.__version__}; YourAppName'}

# Here let's say you want to exclude some images, disable gifs and request only safe pictures
# The url is written in multiple lines for readability purposes, but it is equal to:
# https://api.waifu.im/random/?excluded_files=3867126be8e260b5.jpeg&excluded_files=ca52928d43b30d6a&gif=false&excluded_tags=maid&excluded_tags=oppai&is_nsfw=false
# You can also provide params as a dict or a list of tuple with the 'params' kwarg
url = "https://api.waifu.im/random/?excluded_files=3867126be8e260b5.jpeg" \
      "&excluded_files=ca52928d43b30d6a" \
      "&gif=false" \
      "&excluded_tags=maid" \
      "&excluded_tags=oppai" \
      "&is_nsfw=false"


# Usually you would create a session and access it when needed.
session = aiohttp.ClientSession()

async with session.get(url, headers=HEADERS) as resp:
    api = await resp.json()
    if resp.status in {200, 201}:
        url = api['images'][0]['url']
    # Do whatever you want with the image url.
    else:
        error = api['detail']
    # Do whatever you want with the error description.
      </code></pre>
                </div>
                <div class="container-fluid borderthin">
                    <h3 id="authorization">Generate an Authorization Link</h3>
                    <p class="fs-5">This part isn't directly related to the API and the base url is not the same.
                        This will allow you to generate a link asking a user that will click on it, permissions over his account (you also can do the opposite with revoke).
                    </p>
                    <p class="fs-6">This will be useful if you want to use the <strong><i>user_id</i></strong> query string when dealing with favourites.</p>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">URI</span></th>
                                <th scope="col"><span class="text-success">Request type</span></th>
                            </tr>
                            <tr>
                                <th scope="row">{{site_url}}authorization/</th>
                                <th scope="row">GET</th>
                            </tr>
                            <tr>
                                <th scope="row">{{site_url}}authorization/revoke/</th>
                                <th scope="row">GET</th>
                            </tr>
                        </thead>
                    </table>
                    <h4 id="authorization-query-strings">Query strings</h4>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">Name</span></th>
                                <th scope="col"><span class="text-success">Required</span></th>
                                <th scope="col"><span class="text-success">Type</span></th>
                                <th scope="col"><span class="text-success">Behaviour</span></th>
                            </tr>
                            <tr>
                                <th scope="row">user_id</th>
                                <th scope="row">Yes</th>
                                <th scope="row">Integer</th>
                                <th scope="row">The user_id of the user that is asking and will receive the permissions (the user that is clicking on the link can't be the same as this value, you can't add permissions to yourself)</th>
                            </tr>
                            <tr>
                                <th scope="row">permissions</th>
                                <th scope="row">Yes</th>
                                <th scope="row">Array</th>
                                <th scope="row">The permissions that will be asked for. Available permissions are 'view_favourites' and 'manage_favourites'</th>
                            </tr>
                        </thead>
                    </table>
                    <p class="fs-6">If you want to provide an array just provide the query string again, with a different value</p>
                </div>
                <div class="container-fluid borderthin">
                    <h3 id="favourites">Favourites</h3>
                    <p class="fs-5">You can create a personal gallery composed of your favorite images, for you to be able to look them whenever you want through the website or the <a class="link-light" href="{{bot_invite}}">bot</a>, but you can also use the api to retrieve your favourites picture, here is how to do it.</p>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">PATH</span></th>
                                <th scope="col"><span class="text-success">Request type</span></th>
                            </tr>
                            <tr>
                                <th scope="row">/fav/</th>
                                <th scope="row">GET</th>
                            </tr>
                        </thead>
                    </table>
                    <p class="fs-6">You will need to place your <a class="link-light" target="_blank" href="/dashboard/">token</a> in the <a class="link-light" target="_blank" href="https://developer.mozilla.org/en/docs/Web/HTTP/Headers/Authorization">Authorization header</a>, see the <a class="link-light" href="#favourites-example">example</a>.</p>
                    <h4 id="favourites-response">Response</h4>
                    <pre><code class="language-json">
{
  "images": [
    {
      "file": "5f7e656343cb7be1",
      "extension": ".jpg",
      "image_id": 3284,
      "favourites": 12,
      "dominant_color": "#cac2c6",
      "source": "https://www.pixiv.net/en/artworks/88563141",
      "uploaded_at": "2021-11-02T11:16:19.048684+00:00",
      "is_nsfw": false,
      "width": 2403,
      "height": 4051,
      "url": "https://cdn.waifu.im/5f7e656343cb7be1.jpg",
      "preview_url": "https://waifu.im/preview/5f7e656343cb7be1/",
      "tags": [
        {
          "tag_id": 12,
          "name": "waifu",
          "description": "A female anime/manga character.",
          "is_nsfw": false
        }
      ]
    }
  ]
}
                </code></pre>
                    <h4 id="favourites-query-strings">Query strings</h4>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">Name</span></th>
                                <th scope="col"><span class="text-success">Required</span></th>
                                <th scope="col"><span class="text-success">Type</span></th>
                                <th scope="col"><span class="text-success">Behaviour</span></th>
                            </tr>
                            <tr>
                                <th scope="row">user_id</th>
                                <th scope="row">No</th>
                                <th scope="row">Integer</th>
                                <th scope="row">The user id from which you want to consult the favourites (only if the provided user granted you the permission).</th>
                            </tr>
                            <tr>
                                <th scope="row">selected_tags</th>
                                <th scope="row">No</th>
                                <th scope="row">Array</th>
                                <th scope="row">Force the API to return images with, at least all the provided tags</th>
                            </tr>
                            <tr>
                                <th scope="row">excluded_tags</th>
                                <th scope="row">No</th>
                                <th scope="row">Array</th>
                                <th scope="row">Force the API to return images without any of the provided tags</th>
                            </tr>
                            <tr>
                                <th scope="row">is_nsfw</th>
                                <th scope="row">No</th>
                                <th scope="row">Strict Boolean or String</th>
                                <th scope="row">Force or exclude lewd files, only works if the selected_tags aren't specially nsfw (see difference between versatile and nsfw tags above). You can provide 'null' to make it be random. Default to 'null'.</th>
                            </tr>
                            <tr>
                                <th scope="row">gif</th>
                                <th scope="row">No</th>
                                <th scope="row">Boolean</th>
                                <th scope="row">Force or prevent the API to return .gif files.</th>
                            </tr>
                            <tr>
                                <th scope="row">order_by</th>
                                <th scope="row">No</th>
                                <th scope="row">String</th>
                                <th scope="row">You can choose to order the image by one of the following : FAVOURITES, UPLOADED_AT</th>
                            </tr>
                            <tr>
                                <th scope="row">orientation</th>
                                <th scope="row">No</th>
                                <th scope="row">String</th>
                                <th scope="row">You can choose the orientation of your image using one of the following : LANDSCAPE, PORTRAIT</th>
                            </tr>
                            <tr>
                                <th scope="row">many</th>
                                <th scope="row">No</th>
                                <th scope="row">Boolean</th>
                                <th scope="row">Return an array of 30 files if True.</th>
                            </tr>
                            <tr>
                                <th scope="row">excluded_files</th>
                                <th scope="row">No</th>
                                <th scope="row">Array</th>
                                <th scope="row">Exclude the file(s). You can or not provide the file extension.</th>
                            </tr>
                        </thead>
                    </table>
                    <p class="fs-6">If you want to provide an array just provide the query string again, with a different value</p>
                    <h4 id="favourites-example">Example</h4>
                    <p class="fs-5">Here is a little example. Here let's say we want to get all the safe images with the <kbd>waifu</kbd> tag programmatically (even thought we could use selected_tags query string). and we tell the api to returns only landscape pictures.</p>
                    <pre><code class="language-python">
import aiohttp

token="eyJpZCI6NTA4MzQ2OTc4Mjg4MjcxMzYwLCJzZWNyZXQiOiJyb3AtekZIeE12bll4ZyJ9.89aLylZeRcIcYDjfg6E01iPRCqI"

# Please do change the user agent, it's useful for identification purpose.
headers= {'User-Agent':f'aiohttp/{aiohttp.__version__}; YourAppName','Authorization':f"Bearer {token}"}

def has_waifu_tag(image):
	for t in image["tags"]:
		return t["name"] == "waifu" and not image["is_nsfw"]

# Do not open a new session everytime like here, save it
async with aiohttp.ClientSession() as cs:
    # In this example we get all the picture with a landscape orientation in the user favourites
	async with cs.get(f"https://api.waifu.im/fav/?orientation=LANDSCAPE",headers=headers) as rep:
		api = await rep.json()
		if rep.status in {200, 201}:
			# The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True
			waifu = list(filter(has_waifu_tag,rep["images"]))
			# Do whatever you want with the waifu tag pictures.
            # As mentioned before we could just have add '&selected_tags=waifu'
	
		else:
			error = api["detail"]
			#do whatever you want with the error message.
			</code></pre>
            </div>
            <div class="container-fluid borderthin">
                <h3 id="edit-favourites">Edit Favourites</h3>
                <p class="fs-5">Previously you saw how to consult your favourite pictures, now let's see how you can edit it.</p>
                <p class="fs-5">You can delete a picture, insert it or toggle it, it means that the picture will be deleted from the user favourites if it already was in, otherwise it will be added to it.</p>
                <table class="table borderless cardupload">
                    <thead>
                        <tr>
                            <th scope="col"><span class="text-success">PATH</span></th>
                            <th scope="col"><span class="text-success">Request type</span></th>
                        </tr>
                        <tr>
                            <th scope="row">/fav/insert/</th>
                            <th scope="row">POST</th>
                        </tr>
                        <tr>
                            <th scope="row">/fav/delete/</th>
                            <th scope="row">DELETE</th>
                        </tr>
                        <tr>
                            <th scope="row">/fav/toggle/</th>
                            <th scope="row">POST</th>
                        </tr>
                        </thead>
                    </table>
                    <p class="fs-6">As previously, you will need to place your <a class="link-light" target="_blank" href="/dashboard/">token</a> in the <a class="link-light" target="_blank" href="https://developer.mozilla.org/en/docs/Web/HTTP/Headers/Authorization">Authorization header</a>.</p>
                    <h4 id="edit-favourites-response">Response</h4>
                    <p class="fs-5">For insert and delete route, the API will return a <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204" class="link-light" target="_blank">204</a> status code. Let's see the structure for the toggle route.</p>
                    <pre><code class="language-json">
{
  "state": "DELETED" or "INSERTED" depending on the action done
}g
                </code></pre>
                    <h4 id="edit-favourites-query-strings">Query strings</h4>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">Name</span></th>
                                <th scope="col"><span class="text-success">Required</span></th>
                                <th scope="col"><span class="text-success">Type</span></th>
                                <th scope="col"><span class="text-success">Behaviour</span></th>
                            </tr>
                            <tr>
                                <th scope="row">user_id</th>
                                <th scope="row">No</th>
                                <th scope="row">Integer</th>
                                <th scope="row">The user id from which you want to edit the favourites (only if the provided user granted you the permission).</th>
                            </tr>
                            <tr>
                                <th scope="row">image</th>
                                <th scope="row">Yes</th>
                                <th scope="row">String</th>
                                <th scope="row">The image that you want to add, remove or toggle from the user favourites.</th>
                            </tr>
                        </thead>
                    </table>
                    </div>
                    <div class="container-fluid borderthin">
                    <h3 id="info">Get Images Information</h3>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">PATH</span></th>
                                <th scope="col"><span class="text-success">Request type</span></th>
                            </tr>
                            <tr>
                                <th scope="row">/info/</th>
                                <th scope="row">GET</th>
                            </tr>
                        </thead>
                    </table>
                    <h4 id="info-response">Response</h4>
                    <p class="fs-5">The Json structure has been thought so that it will often be the same, therefore the structure is the same as the random images one.</p>
                    <h4 id="info-query-strings">Query strings</h4>
                    <table class="table borderless cardupload">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-success">Name</span></th>
                                <th scope="col"><span class="text-success">Required</span></th>
                                <th scope="col"><span class="text-success">Type</span></th>
                                <th scope="col"><span class="text-success">Behaviour</span></th>
                            </tr>
                            <tr>
                                <th scope="row">images</th>
                                <th scope="row">Yes</th>
                                <th scope="row">Array</th>
                                <th scope="row">The image(s) that you want information from.</th>
                            </tr>
                        </thead>
                    </table>
                    <p class="fs-6">If you want to provide an array just provide the query string again, with a different value</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/prismjs@1.24.1/components/prism-core.min.js"></script>
<script src="https://unpkg.com/prismjs@1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
