<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Manage</title>
    {{format_metadatas()|safe}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{site_url}}static/css/custom.css">
    <script>
        var formurl={{form_manage |tojson}}
        var image={{image |tojson}}
    var ajax=null
    function resetall(){document.getElementById('errort').style.display = 'none';document.getElementById('loading').style.display = 'none';document.getElementById('uploadprogressbar').style.display = 'none';}
    function uploadFile() {
    if (ajax){ajax.abort();ajax=null;document.getElementById("submitbutton").className="btn btn-success btn-sm";document.getElementById("submitbutton").value="Submit";return}
    ajax = new XMLHttpRequest();
    ajax.open("POST", formurl);
    document.getElementById("submitbutton").className="btn btn-danger btn-sm";document.getElementById("submitbutton").value="Abort"
    let file =  document.getElementById("file").files[0];
    let selecttag =  document.getElementById("sele")
    let selectedValues = Array.from(selecttag.selectedOptions).map(option => option.value)
    let sourceval=document.getElementById('source_id').value
    var formdata = new FormData();
    formdata.append("file", file);
    formdata.append("image", image);
    formdata.append("is_hidden",document.getElementById("is_hidden").checked)
    formdata.append("is_under_review",document.getElementById("is_under_review").checked)
    formdata.append("is_reported",document.getElementById("checkbox_is_reported").checked)
    formdata.append("is_nsfw",document.getElementById("is_nsfw").checked)
    formdata.append("report_user_id",document.getElementById("report_user_id").value)
    formdata.append("report_description",document.getElementById("report_description").value)
    for (const tag of selectedValues){formdata.append("tags[]", tag);}
    formdata.append("source",sourceval)
    ajax.upload.addEventListener("progress", progressHandler, false);
    ajax.addEventListener("load", completeHandler, false);
    ajax.addEventListener("error", errorHandler, false);
    ajax.addEventListener("abort", abortHandler, false);
    ajax.send(formdata);
}

function progressHandler(event)
{   

    if(event.total - event.loaded == 0){resetall();document.getElementById("submitbutton").blur();document.getElementById("submitbutton").className="btn btn-danger btn-sm disabled";document.getElementById("submitbutton").value="Please wait...";document.getElementById('loading').style.display = 'inline-block';}
    else
    {
        let upbar=document.getElementById("uploadprogressbarval")
        let percent = Math.round((event.loaded / event.total) * 100);
        upbar.style.width=percent+"%"
        upbar.setAttribute("aria-valuenow",percent)
        upbar.innerText="Uploading"+percent+"%"
    }
}

function completeHandler(event)
{
    resetall()
    ajax=null;
    document.getElementById("submitbutton").className="btn btn-success btn-sm";
    document.getElementById("submitbutton").value="Submit";
    if (event.target.status==200){
        let jrs=JSON.parse(event.target.responseText);
        window.location.href=jrs["message"];
    }
    else if (event.target.status==400 || event.target.status==409)
    {
        let jrs=JSON.parse(event.target.responseText);
        document.getElementById("errort").style.display='unset'
        document.getElementById("errort").innerHTML = jrs["message"];
    }
    else
    {
        document.getElementById("errort").style.display='unset'
        document.getElementById("errort").innerText = "Sorry an unexcpected error occured, status code: "+event.target.status
    }
  
}

function errorHandler(event) {resetall();document.getElementById("errort").style.display='unset';document.getElementById("errort").innerText = "A network error occured, Upload failed !";document.getElementById("submitbutton").blur();document.getElementById("submitbutton").className="btn btn-danger btn-sm disabled";document.getElementById("submitbutton").value="Please wait...";document.getElementById("submitbutton").blur();document.getElementById("submitbutton").className="btn btn-success btn-sm";document.getElementById("submitbutton").value="Submit";}

function abortHandler(event) {resetall();document.getElementById("errort").style.display='unset';document.getElementById("errort").innerText = "Upload aborted.";}
    </script>
</head>

<body>
    {{sidebar|safe}}
    <div class="fixed-top">
        <nav class="navbar navbar-dark" style="background-color:   #272727;height: 64px;font-family: Roboto,sans-serif">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-sidebar" aria-controls="main-sidebarlabel">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mx-auto" href="">{{sitename}}</a>
                <div class="btn-group">
                    <div class="btn-group dropstart">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" style="background-color:#272727 !important;">
                            <li><button type="button" class="dropdown-item" style="margin-right: 8px;" data-bs-toggle="modal" data-bs-target="#verifmodal">Delete</button></li>
                            <li><button type="button" class="dropdown-item" style="margin-right: 8px;" data-bs-toggle="modal" data-bs-target="#edittagsmodal">Edit Information</button></li>
                            <li><a href="\list\" type="button" style="margin-right: 8px;" class="dropdown-item">Hentai List</a></li>
                            <li><a role="button" class="dropdown-item" tabindex="0" data-bs-toggle="popover" data-bs-content="Remove the hentai tag and add the ecchi one to {{image}}" data-bs-trigger="hover" data-bs-placement="left" href="/rmv/?image={{image}}" id="removebutton">Remove Hentai Tag</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid" id="containerimage">
        <img src="{{link}}" style="max-height: 100vh;max-width: 100vw;" class="img-fluid mx-auto d-block">
    </div>
    <div class="modal fade" style="z-index:  50;" id="verifmodal" tabindex="-1" aria-labelledby="verifmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center" style="background-color:#272727 !important;">
                <div class="modal-header border-0">
                    <h5 class="modal-title" style="margin: 0 auto;" id="verifmodalLabel">Are you sure of your choice ?</h5>
                </div>
                <div class="modal-body text-center">
                    You are about to delete the file {{image}}, are you sure of your decision?
                </div>
                <div class="modal-footer border-0 text-center" style="margin: 0 auto;">
                    <a href="\delete_image\?image={{image}}" type="button" style="margin: 0 auto;" class="btn btn-danger">Yes</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" style="z-index:  49;" id="edittagsmodal" tabindex="-1" aria-labelledby="edittagsmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center" style="background-color:#272727 !important;">
                <form onsubmit="resetall();document.getElementById('uploadprogressbar').style.display='flex';uploadFile();return false;" method="post" enctype="multipart/form-data">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" style="margin: 0 auto;" id="edittagsmodalLabel">Information</h5>
                    </div>
                    <div class="modal-body text-center">

                       <div class="row" style="margin-bottom: 1rem;">
                            <div class="form-switch">
                                <input id="is_hidden" class="form-check-input" type="checkbox" {% if is_hidden %} checked{% endif %}>
                                <label class="form-check-label" for="is_hidden" id="label_hidden">Is Hidden</label>
                            </div>
                            <div class="form-switch">
                                <input id="is_under_review" class="form-check-input" type="checkbox" {% if is_under_review %} checked{% endif %}>
                                <label class="form-check-label" for="is_under_review" id="label_review">Is Under Review</label>
                            </div>
                            <div class="form-switch">
                                <input id="checkbox_is_reported" class="form-check-input" type="checkbox" {% if report_user_id %} checked{% endif %}>
                                <label class="form-check-label" for="checkbox_is_reported" id="label_report">Is Reported</label>
                            </div>
                            <div class="input-group input-group-sm" style="margin-bottom: 1rem;">
                                <span class="input-group-text">Reported by</span>
                                <input type="text" class="form-control" id="report_user_id" placeholder="359371922203535258" name="report_user_id" value="{{report_user_id if report_user_id else ''}}"aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group-sm" style="margin-bottom: 1rem;">
                                <span class="input-group-text">Report Description</span>
                                <input type="text" class="form-control" id="report_description" placeholder="Contain inaproprate content" maxlength="200" name="report_description" value="{{report_description if report_description else ''}}"aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="col-9 sm-12 justify-content-start">
                                <select class="selectpicker form-control" id="sele" data-none-selected-text="Select your tags" multiple name="tags" style="z-index: 10" data-live-search="true" data-window-padding="[64, 0, 0, 0]">
                                    {% for tag in tags %}
                                        {% if tag['id'] in existed%}
                                            <option value="{{tag['id']}}" selected="">{{tag['name']}}</option>
                                        {% else %}
                                            <option value="{{tag['id']}}">{{tag['name']}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3 sm-12 justify-content-start">
                                {% if is_nsfw %}
                                <input class="form-check-input" type="checkbox" checked="" value="" id="is_nsfw">
                                {% else %}
                                <input class="form-check-input" type="checkbox" value="" id="is_nsfw">
                                {% endif %}
                                <label class="form-check-label" for="is_nsfw" id="label_is_nsfw">NSFW</label>
                            </div>
                        </div>
                        <div class="input-group input-group-sm" style="margin-bottom: 1rem;">
                            <span class="input-group-text">Optional Source</span>
                            <input type="text" class="form-control" id="source_id" minlength="4" maxlength="100" placeholder="https://www.pixiv.net/en/artworks/90302611" name="source" aria-label="Small" value="{{source if source else ''}}" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <input style="margin-bottom: 1rem;" class="form-control form-control-sm" type="file" id="file" name="file" accept="image/png, image/gif, image/jpeg, image/jpg, image/webp">
                        <div class="progress" style="margin-bottom: 0.5rem;display: none;" id="uploadprogressbar">
                            <div id="uploadprogressbarval" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Uploading 0%</div>
                        </div>
                        <div id="loading" class="align-items-center" style="display: none;">
                            <div class="spinner-border text-success" style="width: 0.25rem; height: 0.25rem;margin: 0.5rem;" role="status"></div>
                            Waiting for the server to treat your image...
                        </div>
                        <p class="fs-6 text-danger" id="errort" style="display: none;"></p>
                    </div>
                    <div class="border-0 text-center mb-1">
                        <input type="submit" class="btn btn-success btn-sm" name="Submit" value="Submit" id="submitbutton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
})
</script>